@import "../../constants/colors.scss";

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
}

.alertError {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: red;
  font-size: 1.5vw;
  position: absolute;
  display: flex;
  justify-content: center;
}

.noData {
  height: 29.8vw;
}

.data {
  height: 23.5vw;
  display: flex;
  justify-content: space-evenly;
}

.principalData {
  h1 {
    margin: 0;
    font-size: 4vw;
  }
}

.secondaryData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 5px;
    font-size: 2vw;
  }
}

.containerIcon {
  margin: 0 4vw;

  h3 {
    margin-top: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  
}
