.container {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 5px;
  background-color: lightblue;
  width: 12%;
  font-family: "Montserrat", sans-serif;
}

p {
  color: black;
  font-weight: bold;
  margin: 10px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}