.App {
  background-image: url('./assets/santiago.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.SearchContent {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.Favourite {
  display: flex;
  background-color: gray;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 100%;
  color: white;
  overflow: auto;
  opacity: 0.8;
}

.FavoritesCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.FavoriteTitle { 
  color: black;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px 0;
}